PATH_add "bin"

export PROJECT_DIR
PROJECT_DIR=$(pwd)

export PROJECT_NAME=bitstamp
export NAMESPACE=mockexchs

export SETUP_PS1="export CUSTOM_PS1=\"\$STAGE_EMOJI($PROJECT_NAME)\""

source ../../header.sh
