export VIRTUAL_ENV

VIRTUAL_ENV=$(dirname $(pipenv run which python))
PATH_add "$VIRTUAL_ENV"

export PYTHONPATH="$PYTHONPATH:$SHANGREN_ROOT/comm/lib/"

export SETUP_PS1="export CUSTOM_PS1=\"\$STAGE_EMOJI\""

source header.sh
