VIRTUAL_ENV=".venv"
export VIRTUAL_ENV
PATH_add "$VIRTUAL_ENV/bin"
PATH_add "./bin"

export PYTHONPATH="$PYTHONPATH:$SHANGREN_ROOT/comm/lib/"

export SHANGREN_ROOT
SHANGREN_ROOT=$(pwd)

scp shangren-local@shangren.local:/home/shangren-local/.kube/config "$SHANGREN_ROOT"/envs/local/kubeconfig > /dev/null

export CUSTOM_PS1=🐣
export PIPENV_IGNORE_VIRTUALENVS=1
printenv > "$SHANGREN_ROOT"/activate.env

export SHANGREN_LOCAL_IP=192.168.1.5
export KUBECONFIG="$SHANGREN_ROOT"/envs/local/kubeconfig

