source .settings

export VIRTUAL_ENV

VIRTUAL_ENV=$(dirname $(pipenv run which python))
PATH_add "$VIRTUAL_ENV"

export PATH=$ISTIO_BIN:$PATH

export PYTHONPATH="$PYTHONPATH:$SHANGREN_ROOT/comm/lib/"

export SETUP_PS1="export CUSTOM_PS1=\"\$STAGE_EMOJI\""

source header.sh

# dump envs for pycharm debugging etc.
printenv | sed '/^.*CUSTOM_PS1.*$/d' |
sed '/^.*LS_COLORS.*$/d' |
sed '/^.*PROMPT_COMMAND.*$/d' |
sed '/^.*DIRENV.*$/d' |
sed '/^.*PYTHONPATH.*$/d' |
sed '/^.*LESSCLOSE.*$/d' \
> shangren.env
