[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
shangren = {editable = true,path = "./../../../lib"}

[packages]
flake8 = "*"
influxdb = "*"
ipython = "*"
django = "*"
websocket-client = "*"
django-click = "*"
tqdm = "*"
psycopg2-binary = "*"
django-environ = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.7"
