[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flake8 = "*"
influxdb = "*"
ipython = "*"
django = "*"
django-channels = "*"
websocket-client = "*"
django-click = "*"
tqdm = "*"

[requires]
python_version = "3.7"
