apiVersion: skaffold/v1
kind: Config
metadata:
  name: {{ env.app_name }}
build:
  {% if not dev %}
  tagPolicy:
    envTemplate:
      {% raw %}
      template: "{{.PL_IMAGE_NAME}}:{{.PL_IMAGE_TAG}}"
      {% endraw %}

  {% endif %}
  artifacts:
  - image: {{ image_name }}
    docker:
      dockerfile: {{ env.root.rel() }}/Dockerfile.{{ env.stage }}
    context: {{ env.cluster.plasma.root }}
    sync:
      infer:
        - '{{ env.src.rel() }}/flesh/**/*.py'
        - '**/.idea/**'
  local:
    push: false

deploy:
  helm:
    releases:
      - name: {{ env.helm_release_name }}
        chartPath: chart
        namespace: flesh
        valuesFiles:
          - values/{{ env.stage }}/{{ env.app_name }}.yaml
        values:
          image: {{ image_name }}
