PATH_add "bin"

export PROJECT_NAME=citygroves
export APP_NAME=frontend
export NAMESPACE=citygroves

export APP_ROOT="$(pwd)"

source ../header.sh

export PYTHONPATH="$PYTHONPATH:$PLASMA_COMM_ROOT/python/"

export PATH="$PLASMA_COMM_ROOT/bin:$PATH"
