source .settings

export APP_VIRTUAL_ENV

APP_VIRTUAL_ENV=$(dirname $(poetry run which python))
source "$APP_VIRTUAL_ENV/activate"

export PATH=$ISTIO_BIN:$PATH

export PROJECT_NAME=shangren
export APP_NAME=shangren

source header.sh

export PYTHONPATH="$PYTHONPATH:$PLASMA_COMM_ROOT/python/"

# dump envs for pycharm debugging etc.
printenv | sed '/^.*CUSTOM_PS1.*$/d' |
sed '/^.*LS_COLORS.*$/d' |
sed '/^.*PROMPT_COMMAND.*$/d' |
sed '/^.*DIRENV.*$/d' |
sed '/^.*PYTHONPATH.*$/d' |
sed '/^.*LESSCLOSE.*$/d' \
> shangren.env
