source .settings

export VIRTUAL_ENV

VIRTUAL_ENV=$(dirname $(poetry run which python))
source "$VIRTUAL_ENV/activate"

export PATH=$ISTIO_BIN:$PATH

export SETUP_PS1="export CUSTOM_PS1=\"\$STAGE_EMOJI\""

source header.sh

export PYTHONPATH="$PYTHONPATH:$SHANGREN_ROOT/comm/lib/"

# dump envs for pycharm debugging etc.
printenv | sed '/^.*CUSTOM_PS1.*$/d' |
sed '/^.*LS_COLORS.*$/d' |
sed '/^.*PROMPT_COMMAND.*$/d' |
sed '/^.*DIRENV.*$/d' |
sed '/^.*PYTHONPATH.*$/d' |
sed '/^.*LESSCLOSE.*$/d' \
> shangren.env

