PATH_add "bin"

export PROJECT_NAME=tester
export NAMESPACE=tests

export SETUP_PS1="export CUSTOM_PS1=\"\$STAGE_EMOJI($PROJECT_NAME)\""

source ../../header.sh

export PROJECT_DIR
PROJECT_DIR=$(pwd)

export VIRTUAL_ENV
VIRTUAL_ENV="$SHANGREN_ROOT/.venv"
PATH_add "$VIRTUAL_ENV/bin"

export PYTHONPATH="$SHANGREN_ROOT/comm/lib/"
