PATH_add "bin"

export PROJECT_NAME=citygroves
export APP_NAME=citygroves
export NAMESPACE=citygroves

source header.sh

export PYTHONPATH="$PYTHONPATH:$PLASMA_COMM_ROOT/python/"

APP_VIRTUAL_ENV=$( dirname "$(poetry run which python)")
export PATH="$APP_VIRTUAL_ENV:$PATH"
