PATH_add "bin"

export PROJECT_NAME=citygroves
export APP_NAME=citygroves

source header.sh

export NAMESPACE=citygroves-$STAGE

export PYTHONPATH="$PLASMA_COMM_ROOT/python/:$PYTHONPATH"

APP_VIRTUAL_ENV=$( dirname "$(poetry run which python)")
export PATH="$APP_VIRTUAL_ENV:$PATH"
