PATH_add "bin"

export PROJECT_NAME=manager
export NAMESPACE=citygroves

source ../header.sh

export PYTHONPATH="$PYTHONPATH:$PLASMA_COMM_ROOT/python/"

export VIRTUAL_ENV
VIRTUAL_ENV=$( dirname "$(cd "$PROJECT_ROOT/manager/flesh" && poetry run which python)")
export PATH="$VIRTUAL_ENV:$PATH"
