PATH_add "bin"

export PROJECT_NAME=citygroves
export APP_NAME=manager
export NAMESPACE=citygroves

export APP_ROOT="$(pwd)"

source ../header.sh

export PYTHONPATH="$PYTHONPATH:$PLASMA_COMM_ROOT/python/"

export VIRTUAL_ENV
VIRTUAL_ENV=$( dirname "$(cd "$PROJECT_ROOT/manager/flesh" && poetry run which python)")
export PATH="$VIRTUAL_ENV:$PATH"

export PATH="$PLASMA_COMM_ROOT/bin:$PATH"
