PATH_add "bin"

export PROJECT_NAME=citygroves
export APP_NAME=manager

source ../header.sh

export NAMESPACE=citygroves-$STAGE

export APP_ROOT="$(pwd)"

export PYTHONPATH="$PYTHONPATH:$PLASMA_COMM_ROOT/python/"

export APP_VIRTUAL_ENV
APP_VIRTUAL_ENV=$( dirname "$(cd "$PROJECT_ROOT/manager/flesh" && poetry run which python)")
export PATH="$APP_VIRTUAL_ENV:$PATH"
