apiVersion: skaffold/v1
kind: Config
metadata:
  name: backend
build:
  tagPolicy:
    envTemplate:
      {% raw %}
      template: "{{.CG_IMAGE_NAME}}:{{.CG_IMAGE_TAG}}"
      {% endraw %}
  artifacts:
  - image: {{ image_name }}
    docker:
      dockerfile: citygroves/backend/Dockerfile.local
      buildArgs:
        PYTHON_VER_MAJOR: {{ env.python_ver_major }}
        PYTHON_VER_MINOR: {{ env.python_ver_minor }}
        PYTHON_VER_PATCH: {{ env.python_ver_patch }}
        DEBIAN_VER: {{ env.debian_ver }}
        POETRY_VER: {{ env.poetry_ver }}
      cacheFrom:
        - {{ image_name }}
    context: {{ env.monorepo_root }}
    sync:
      infer:
        - 'backend/flesh/**/*.py'
        - '**/.idea/**'
  local:
    push: false

deploy:
  helm:
    releases:
      - name: {{ env.helm_release_name }}
        chartPath: chart
        namespace: flesh
        valuesFiles:
          - values/{{ env.stage }}/backend.yaml
        values:
          image: {{ image_name }}
