PATH_add "bin"

export PROJECT_NAME=tester
export NAMESPACE=tests

export SETUP_PS1="export CUSTOM_PS1=\"\$STAGE_EMOJI($PROJECT_NAME)\""

source ../../header.sh

export PROJECT_DIR
PROJECT_DIR=$(pwd)

export VIRTUAL_ENV

export PYTHONPATH="$CG_PROJECT_ROOT/comm/lib/"
