source ../../envs/activate.sh
source bin/activate
export CUSTOM_PS1="$CUSTOM_PS1(dc-bitstamp)"

cd flesh || return

export VIRTUAL_ENV
VIRTUAL_ENV=$( dirname "$(dirname "$(pipenv run which python)")")
PATH_add "$VIRTUAL_ENV/bin"
PATH_add "../bin"
