PATH_add "bin"

export APP_NAME=appgen
export PROJECT_NAME=citygroves
export NAMESPACE=citygroves
export APP_ROOT="$(pwd)"

source ../header.sh

export PYTHONPATH="$PYTHONPATH:$PLASMA_COMM_ROOT/python/"

export PYTHONPATH="$PYTHONPATH:$PROJECT_ROOT/comm/python/"

APP_VIRTUAL_ENV=$( dirname "$(cd "$PROJECT_ROOT/appgen/flesh" && poetry run which python)")
export PATH="$APP_VIRTUAL_ENV:$PATH"
