[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://kwazar:bhdsaw341@pypi.pi/simple"
verify_ssl = false
name = "pypi.pi"

[packages]
ipython = "*"
prospector = "*"
flask = "*"
websocket-client = "*"
numpy = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
influxdb = "*"
marshmallow = "*"
flask-restful = "*"
ptcomm = "*"
envparse = "*"
kafka-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
